:root {
  --font-geometria: "Geometria", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --t-fff: #fff;
  --t-000: #000;
  --t-101010: #101010;
  --t-22B24C: #22b24c;
  --b-fff: #fff;
  --b-000: #000;
  --b-101010: #101010;
  --b-22B24C: #22b24c;
  --sz-14: 14px;
  --sz-16: 16px;
  --sz-20: 20px;
  --sz-24: 24px;
  --sz-32: 32px;
  --sz-40: 40px;
  --sz-48: 48px;
  --sz-128: 128px;
}

@font-face {
  font-family: "Geometria";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Geometria-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Geometria";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Geometria-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

input,
button,
textarea,
select {
  font-family: inherit;
  color: inherit;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 0;
}

address {
  font-style: normal;
}

/**
 * Swiper 11.1.5
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2024 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: July 15, 2024
 */
/* FONT_START */
@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}
/* FONT_END */
:root {
  --swiper-theme-color: #007aff;
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-wrapper-transition-timing-function: initial;
  */
}

:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* 3D Effects */
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d {
  perspective: 1200px;
}

.swiper-3d .swiper-slide,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-css-mode.swiper-horizontal > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-css-mode.swiper-vertical > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  scroll-snap-type: none;
}

.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none;
}

.swiper-css-mode.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}

.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

/* Slide styles start */
/* 3D Shadows */
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Slide styles end */
.swiper-virtual .swiper-slide {
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
}

.swiper-virtual.swiper-css-mode .swiper-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
  height: 1px;
  width: var(--swiper-virtual-size);
}

.swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
  width: 1px;
  height: var(--swiper-virtual-size);
}

:root {
  --swiper-navigation-size: 44px;
  /*
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: var(--swiper-theme-color);
  */
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev.swiper-button-hidden,
.swiper-button-next.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.swiper-navigation-disabled .swiper-button-prev,
.swiper-navigation-disabled .swiper-button-next {
  display: none !important;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform-origin: center;
}

.swiper-rtl .swiper-button-prev svg,
.swiper-rtl .swiper-button-next svg {
  transform: rotate(180deg);
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 10px);
  right: auto;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
}

.swiper-button-lock {
  display: none;
}

/* Navigation font start */
.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
}

/* Navigation font end */
:root {
  /*
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: rgba(0,0,0,0.25);
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-border-radius: 50%;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  */
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-pagination-disabled > .swiper-pagination,
.swiper-pagination.swiper-pagination-disabled {
  display: none !important;
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: var(--swiper-pagination-right, 8px);
  left: var(--swiper-pagination-left, auto);
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}

.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}

.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}

.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 200ms transform, 200ms top;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms left;
}

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms right;
}

/* Fraction */
.swiper-pagination-fraction {
  color: var(--swiper-pagination-fraction-color, inherit);
}

/* Progress */
.swiper-pagination-progressbar {
  background: var(--swiper-pagination-progressbar-bg-color, rgba(0, 0, 0, 0.25));
  position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}

.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: var(--swiper-pagination-progressbar-size, 4px);
  left: 0;
  top: 0;
}

.swiper-vertical > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite {
  width: var(--swiper-pagination-progressbar-size, 4px);
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-lock {
  display: none;
}

:root {
  /*
  --swiper-scrollbar-border-radius: 10px;
  --swiper-scrollbar-top: auto;
  --swiper-scrollbar-bottom: 4px;
  --swiper-scrollbar-left: auto;
  --swiper-scrollbar-right: 4px;
  --swiper-scrollbar-sides-offset: 1%;
  --swiper-scrollbar-bg-color: rgba(0, 0, 0, 0.1);
  --swiper-scrollbar-drag-bg-color: rgba(0, 0, 0, 0.5);
  --swiper-scrollbar-size: 4px;
  */
}

.swiper-scrollbar {
  border-radius: var(--swiper-scrollbar-border-radius, 10px);
  position: relative;
  touch-action: none;
  background: var(--swiper-scrollbar-bg-color, rgba(0, 0, 0, 0.1));
}

.swiper-scrollbar-disabled > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-disabled {
  display: none !important;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: var(--swiper-scrollbar-sides-offset, 1%);
  bottom: var(--swiper-scrollbar-bottom, 4px);
  top: var(--swiper-scrollbar-top, auto);
  z-index: 50;
  height: var(--swiper-scrollbar-size, 4px);
  width: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
}

.swiper-vertical > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-vertical {
  position: absolute;
  left: var(--swiper-scrollbar-left, auto);
  right: var(--swiper-scrollbar-right, 4px);
  top: var(--swiper-scrollbar-sides-offset, 1%);
  z-index: 50;
  width: var(--swiper-scrollbar-size, 4px);
  height: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--swiper-scrollbar-drag-bg-color, rgba(0, 0, 0, 0.5));
  border-radius: var(--swiper-scrollbar-border-radius, 10px);
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-scrollbar-lock {
  display: none;
}

/* Zoom container styles start */
.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Zoom container styles end */
.swiper-slide-zoomed {
  cursor: move;
  touch-action: none;
}

/* a11y */
.swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-grid > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}

.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}

.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-fade .swiper-slide-active {
  pointer-events: auto;
}

.swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-cube {
  overflow: visible;
}

.swiper-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

.swiper-cube .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-cube.swiper-rtl .swiper-slide {
  transform-origin: 100% 0;
}

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-next,
.swiper-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible;
}

.swiper-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 0;
}

.swiper-cube .swiper-cube-shadow:before {
  content: "";
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  filter: blur(50px);
}

.swiper-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}

/* Cube slide shadows start */
.swiper-cube .swiper-slide-shadow-cube.swiper-slide-shadow-top,
.swiper-cube .swiper-slide-shadow-cube.swiper-slide-shadow-bottom,
.swiper-cube .swiper-slide-shadow-cube.swiper-slide-shadow-left,
.swiper-cube .swiper-slide-shadow-cube.swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Cube slide shadows end */
.swiper-flip {
  overflow: visible;
}

.swiper-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-flip .swiper-slide-active,
.swiper-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

/* Flip slide shadows start */
.swiper-flip .swiper-slide-shadow-flip.swiper-slide-shadow-top,
.swiper-flip .swiper-slide-shadow-flip.swiper-slide-shadow-bottom,
.swiper-flip .swiper-slide-shadow-flip.swiper-slide-shadow-left,
.swiper-flip .swiper-slide-shadow-flip.swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Flip slide shadows end */
.swiper-creative .swiper-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  transition-property: transform, opacity, height;
}

.swiper-cards {
  overflow: visible;
}

.swiper-cards .swiper-slide {
  transform-origin: center bottom;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

::-webkit-scrollbar-button {
  width: 6px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: var(--b-fff);
  box-shadow: 0px 0px 3px var(--b-fff) inset;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--b-000);
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-resizer {
  width: 7px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 7px;
}

body.page {
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: var(--sz-16);
  line-height: 1.2;
  color: var(--t-101010);
  background-color: var(--b-fff);
  cursor: none;
}
body.page.j-lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  display: grid;
  min-height: 100dvh;
  grid-template-columns: minmax(300px, 1fr);
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
}

.v-hide {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1px;
  height: 1px;
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  opacity: 0;
  pointer-events: none;
}

.i-wrap {
  position: relative;
  display: flex;
  width: 100%;
}

.i-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.i-sin {
  display: block;
  object-fit: cover;
  object-position: center;
}

.sect-gap {
  margin-bottom: 100px;
}

.title {
  font-size: var(--sz-128);
  font-weight: 800;
  text-transform: uppercase;
}
.title span {
  color: var(--t-22B24C);
}
.title.m-min {
  font-size: var(--sz-48);
  text-align: right;
}

.btn {
  position: relative;
  border: 1px solid var(--b-fff);
  border-radius: 15px;
  padding: 20px 90px 20px 35px;
  transition: padding 0.2s linear 0s, background-color 0.2s linear 0s, border-color 0.2s linear 0s;
}
.btn span {
  font-weight: 300;
}
.btn i {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  width: 48px;
  aspect-ratio: 1;
  background: url("../img/svg/sprite.svg#btn-icon") center/contain no-repeat;
  transition: right 0.2s linear 0s;
}
.btn.m-dark {
  border-color: var(--b-101010);
}
.btn:hover {
  background-color: var(--b-22B24C);
  border: 1px solid var(--b-22B24C);
  padding: 20px 35px 20px 90px;
}
.btn:hover i {
  right: calc(98% - 48px);
  background-image: url("../img/svg/sprite.svg#btn-icon-w");
}
.btn:hover.m-dark span {
  color: var(--t-fff);
}

.main-navigation {
  position: fixed;
  bottom: 120px;
  left: calc(50% - 870px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  color: var(--t-fff);
  z-index: 50;
}
.main-navigation.j-black {
  color: var(--t-101010);
}
.main-navigation.j-black button::after {
  background-color: var(--b-101010);
}
@media screen and (max-width: 1920px) {
  .main-navigation {
    left: 5%;
  }
}
.main-navigation__btn {
  position: relative;
  opacity: 0.5;
}
.main-navigation__btn::after {
  position: absolute;
  content: "";
  top: 50%;
  left: -15px;
  height: 1px;
  width: 25px;
  transform: translateX(-100%);
  background-color: var(--b-fff);
}
.main-navigation__btn.j-active {
  font-weight: 600;
  opacity: 1;
}
.main-navigation__btn.j-active::after {
  width: 100vw;
}

.mouse-wheel {
  position: fixed;
  bottom: 140px;
  right: calc(50% - 870px);
  display: flex;
  width: 28px;
  aspect-ratio: 1;
  background: url("../img/svg/sprite.svg#mouse") center/contain no-repeat;
  z-index: 50;
}
.mouse-wheel.j-black {
  background: url("../img/svg/sprite.svg#mouse-black") center/contain no-repeat;
}
@media screen and (max-width: 1900px) {
  .mouse-wheel {
    right: 5%;
  }
}

.line-main {
  position: relative;
}
.line-main::after {
  position: absolute;
  content: "";
  left: 33.33%;
  top: 0;
  width: 1px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
  z-index: -1;
}
.line-main::before {
  position: absolute;
  content: "";
  right: 33.33%;
  top: 0;
  width: 1px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
  z-index: -1;
}

.cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid #000;
  background-color: gray;
  z-index: 2000;
  opacity: 0.5;
  pointer-events: none;
  transition: transform 0.1s linear 0s;
}
.cursor.j-click {
  transform: scale(2);
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  color: var(--t-fff);
  z-index: 1000;
  transition: opacity 0.2s linear 0s, visibility 0.2s linear 0s;
}
.header.j-hide {
  opacity: 0;
  visibility: hidden;
}
.header__main {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 10;
  transition: border-bottom 0.2s linear 0s;
}
.header__main.j-menu {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.header__main.j-menu .header__main-nav {
  opacity: 0;
  visibility: hidden;
}
.header__main-container {
  height: 120px;
  display: grid;
  grid-template-columns: 305px 1fr minmax(350px, 428px) 220px;
  align-items: stretch;
  padding: 0 90px;
}
.header__cell {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__cell.m-logo {
  justify-content: flex-start;
}
.header__cell.m-nav {
  justify-content: flex-start;
  padding-left: 100px;
}
.header__cell.m-burger {
  justify-content: flex-end;
}
.header__main-logo {
  width: 138px;
  height: 27px;
}
.header__main-logo-img {
  object-fit: contain;
}
.header__main-nav {
  transition: opacity 0.2s linear 0s, visibility 0.2s linear 0s;
}
.header__main-nav-list {
  display: flex;
  align-items: center;
  gap: 100px;
}
.header__main-nav-link {
  font-weight: 300;
}
.header__main-burger {
  width: 28px;
  aspect-ratio: 1;
  background: url("../img/svg/sprite.svg#burger") center/contain no-repeat;
  transition: transform 0.2s linear 0s;
}
.header__main-burger:hover {
  transform: scale(1.1);
}
.header__main-burger.j-active {
  background: url("../img/svg/sprite.svg#cross") center/contain no-repeat;
}
.header__menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0 0 25px 25px;
  backdrop-filter: blur(75px);
  background: rgba(16, 16, 16, 0.75);
  padding-bottom: 75px;
  transform: translateY(-100%);
  transition: transform 0.2s linear 0s;
}
.header__menu.j-show {
  transform: translateY(0);
}
.header__menu-container {
  padding: 115px 90px 0;
}
.header__menu-search {
  position: relative;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  margin-bottom: 40px;
}
.header__menu-search-inp {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 20px 50px;
}
.header__menu-search-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  width: 18px;
  aspect-ratio: 1;
  background: url("../img/svg/sprite.svg#search") center/contain no-repeat;
  z-index: 10;
}
.header__menu-row {
  display: flex;
  justify-content: space-between;
}
.header__menu-nav-list {
  display: flex;
  gap: 75px;
}
.header__menu-nav-sublist {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header__menu-nav-title {
  display: inline-flex;
  font-size: var(--sz-24);
  font-weight: 600;
  padding-bottom: 15px;
}
.header__menu-nav-link {
  font-weight: 30;
  opacity: 0.5;
}
.header__menu-contacts {
  display: flex;
  flex-direction: column;
}
.header__menu-contacts-title {
  font-size: var(--sz-24);
  font-weight: 600;
  padding-bottom: 35px;
}
.header__menu-contacts-tel {
  font-weight: 300;
  margin-bottom: 20px;
  opacity: 0.5;
}
.header__menu-contacts-mail {
  font-weight: 300;
  margin-bottom: 20px;
  opacity: 0.5;
}
.header__menu-contacts-social {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__menu-contacts-social-link {
  width: 20px;
  aspect-ratio: 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}
.header__menu-contacts-social-link.m-wapp {
  background-image: url("../img/svg/sprite.svg#wapp");
}
.header__menu-contacts-social-link.m-telega {
  background-image: url("../img/svg/sprite.svg#telega");
}
.header__menu-contacts-social-link.m-mail {
  background-image: url("../img/svg/sprite.svg#mail");
}

.main__slider {
  height: 100vh;
}
.main__slide {
  overflow: hidden;
}

.greet {
  position: relative;
  color: var(--t-fff);
}
.greet__slider {
  height: 100%;
}
.greet__slider .container {
  position: relative;
  height: 100%;
  z-index: 10;
}
.greet__video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.greet__video-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  border: 1px solid #000;
}
.greet__slide {
  background-color: var(--b-101010);
}
.greet__slide.m-2 {
  background: url("../img/slide2.png") center/cover no-repeat, var(--b-101010);
}
.greet__slide.m-3 {
  background: url("../img/slide3.png") center/cover no-repeat, var(--b-101010);
}
.greet__slide-container {
  height: 100%;
  display: grid;
  grid-template-columns: 305px 1fr minmax(350px, 428px) 220px;
  grid-template-rows: 1fr 330px;
}
.greet__cell {
  display: flex;
  align-items: flex-end;
}
.greet__cell.m-title {
  justify-content: center;
}
.greet__cell.m-panel {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 180px;
}
.greet__cell.m-bottom {
  padding-bottom: 120px;
}
.greet__cell.m-btn {
  justify-content: center;
}
.greet__cell.m-info {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-left: 100px;
}
.greet__cell.m-info::after {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200vw;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}
.greet__cell.m-col-2 {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.greet__cell.m-col-3 {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.greet__title {
  padding-bottom: 100px;
}
.greet__subtitle {
  font-size: var(--sz-24);
  text-transform: none;
  margin-bottom: 10px;
}
.greet__text {
  font-size: var(--sz-14);
}
.greet__slider-nav {
  max-height: 430px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 100px;
}
.greet__slider-nav-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  opacity: 0.5;
}
.greet__slider-nav-btn.j-active {
  opacity: 1;
}
.greet__slider-nav-btn-num {
  color: var(--t-22B24C);
  font-weight: 700;
  margin-bottom: 15px;
}
.greet__slider-nav-btn-text {
  font-size: var(--sz-20);
  font-weight: 600;
}
.about {
  background: url("../img/about-bg.png") center/cover no-repeat;
}
.about__container {
  height: 100%;
  display: grid;
  grid-template-columns: 305px 1fr 220px;
  grid-template-rows: 1fr 230px;
}
.about__cell.m-left {
  grid-column: 1/2;
  grid-row: 1/3;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}
.about__cell.m-main {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 80px 110px 80px;
}
.about__cell.m-right {
  grid-column: 3/4;
  grid-row: 1/3;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}
.about__title {
  font-size: var(--sz-32);
  font-weight: 700;
  margin-bottom: 25px;
}
.about__title span {
  color: var(--t-22B24C);
}
.about__text {
  margin-bottom: 25px;
}
.about__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 30px 0;
  align-items: center;
}
.about__item {
  display: flex;
  gap: 21px;
}
.about__item-num {
  font-size: var(--sz-24);
  font-weight: 700;
  color: var(--t-22B24C);
}
.about__item-text {
  font-size: var(--sz-20);
  font-weight: 600;
}

.benefits {
  height: 100%;
  overflow-y: auto;
}
.benefits__container {
  height: 100%;
  display: grid;
  grid-template-columns: 305px 1fr 220px;
}
.benefits__cell.m-main {
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  padding: 200px 100px 100px;
}
.benefits__cell.m-main::after {
  height: 100%;
}
.benefits__cell.m-main::before {
  height: 100%;
}
.benefits__title {
  font-size: var(--sz-40);
  font-weight: 500;
  margin-bottom: 50px;
}
.benefits__title span {
  color: var(--t-22B24C);
}
.benefits__box {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.benefits__card {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 25px;
  border-radius: 35px;
  overflow: hidden;
  background-color: var(--b-fff);
}
.benefits__card:hover .benefits__card-bg {
  opacity: 1;
  visibility: visible;
}
.benefits__card-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150%;
  aspect-ratio: 1;
  border-radius: 50%;
  display: none;
  transform: translate(-50%, -50%);
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s linear 0s, visibility 0.1s linear 0s;
}
.benefits__card-bg::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  content: "";
  border-radius: 50%;
  transform: translateY(-50%);
  background: linear-gradient(90deg, rgb(34, 178, 76) 0%, rgb(255, 255, 255) 70%);
  animation: bg-rotate 3s linear 0s infinite;
}
.benefits__card-inner {
  min-height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 45px;
  background-color: var(--b-fff);
  border-radius: 35px;
  z-index: 10;
  overflow: hidden;
}
.benefits__card-inner.m-reverse {
  flex-direction: row-reverse;
}
.benefits__card-visual {
  align-self: stretch;
  flex: 1 0 525px;
}
.benefits__card-visual-img {
  border-radius: 35px;
}
.benefits__card-info {
  padding: 35px 5px;
}
.benefits__card-title {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 15px;
  font-size: var(--sz-24);
}
.benefits__card-title b {
  font-size: var(--sz-16);
  font-weight: 600;
  color: var(--t-22B24C);
}
.benefits__card-title span span {
  color: var(--t-22B24C);
}
.benefits__card-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.benefits__card-text-piece {
  font-size: var(--sz-14);
}
.benefits__card-text-piece strong {
  font-weight: 500;
}

@keyframes bg-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}