<header class="page__header header">
 <div class="header__main">
  <div class="container">
   <div class="header__main-container">
    <div class="header__cell m-logo">
     <a href="#" class="header__main-logo i-wrap">
      <img class="header__main-logo-img i-full" src="/src/img/svg/logo.svg" alt="">
     </a>
    </div>
    <div class="header__cell m-nav">
     <nav class="header__main-nav">
      <ul class="header__main-nav-list">
       <li class="header__main-nav-item">
        <a href="#" class="header__main-nav-link">О компании</a>
       </li>
       <li class="header__main-nav-item">
        <a href="#" class="header__main-nav-link">Продукция</a>
       </li>
       <li class="header__main-nav-item">
        <a href="#" class="header__main-nav-link">Решения</a>
       </li>
       <li class="header__main-nav-item">
        <a href="#" class="header__main-nav-link">Новости</a>
       </li>
      </ul>
     </nav>
    </div>
    <div class="header__cell"></div>
    <div class="header__cell m-burger">
     <button class="header__main-burger"></button>
    </div>
   </div>
  </div>
 </div>
 <div class="header__menu">
  <div class="container">
   <div class="header__menu-container">
    <form action="#" method="post" class="header__menu-search">
     <input class="header__menu-search-inp" type="text" placeholder="Поиск по сайту...">
     <button class="header__menu-search-btn"></button>
    </form>
    <div class="header__menu-row">
     <nav class="header__menu-nav">
      <ul class="header__menu-nav-list">
       <li class="header__menu-nav-item">
        <ul class="header__menu-nav-sublist">
         <li class="header__menu-nav-subitem">
          <span class="header__menu-nav-title">О Нас</span>
         </li>
         <li class="header__menu-nav-subitem">
          <a href="#" class="header__menu-nav-link">Наша Компания</a>
         </li>
         <li class="header__menu-nav-subitem">
          <a href="#" class="header__menu-nav-link">Вопрос Ответ</a>
         </li>
         <li class="header__menu-nav-subitem">
          <a href="#" class="header__menu-nav-link">История</a>
         </li>
         <li class="header__menu-nav-subitem">
          <a href="#" class="header__menu-nav-link">Решения</a>
         </li>
        </ul>
       </li>
       <li class="header__menu-nav-item">
        <ul class="header__menu-nav-sublist">
         <li class="header__menu-nav-subitem">
          <span class="header__menu-nav-title">Продукция</span>
         </li>
         <li class="header__menu-nav-subitem">
          <a href="#" class="header__menu-nav-link">Все</a>
         </li>
         <li class="header__menu-nav-subitem">
          <a href="#" class="header__menu-nav-link">Грохоты и сепараторы</a>
         </li>
         <li class="header__menu-nav-subitem">
          <a href="#" class="header__menu-nav-link">Прессовое оборудование</a>
         </li>
        </ul>
       </li>
       <li class="header__menu-nav-item">
        <ul class="header__menu-nav-sublist">
         <li class="header__menu-nav-subitem">
          <span class="header__menu-nav-title">Пресс-центр</span>
         </li>
         <li class="header__menu-nav-subitem">
          <a href="#" class="header__menu-nav-link">Новости</a>
         </li>
         <li class="header__menu-nav-subitem">
          <a href="#" class="header__menu-nav-link">Наши Отзывы</a>
         </li>
         <li class="header__menu-nav-subitem">
          <a href="#" class="header__menu-nav-link">Новости</a>
         </li>
        </ul>
       </li>
      </ul>
     </nav>
     <address class="header__menu-contacts">
      <span class="header__menu-contacts-title">Контакты</span>
      <a href="tel:+72345678901" class="header__menu-contacts-tel">+1 (234) 567-89-01</a>
      <a href="mailto:example@mail.com" class="header__menu-contacts-mail">example@mail.com</a>
      <div class="header__menu-contacts-social">
       <a href="#" class="header__menu-contacts-social-link m-wapp"></a>
       <a href="#" class="header__menu-contacts-social-link m-telega"></a>
       <a href="#" class="header__menu-contacts-social-link m-mail"></a>
      </div>
     </address>
    </div>
   </div>
  </div>
 </div>
</header>