//@mark page
.page {
 &__header {
 }
 &__main {
 }
 &__footer {
 }
}
//@mark main
.main {
 &__slider {
  height: 100vh;
 }
 &__slider-wrapper {
 }
 &__slide {
  overflow: hidden;
 }
}
//@mark swiper
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
//@mark greet
.greet {
 & {
  position: relative;
  color: var(--t-fff);
 }
 &__slider {
  height: 100%;
  & .container {
   position: relative;
   height: 100%;
   z-index: 10;
  }
 }
 &__slider-wrapper {
 }
 &__video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
 }
 &__video-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  border: 1px solid #000;
 }
 &__slide {
  background-color: var(--b-101010);
  &.m-2 {
   background: url('/src/img/slide2.png') center / cover no-repeat,
    var(--b-101010);
  }
  &.m-3 {
   background: url('/src/img/slide3.png') center / cover no-repeat,
    var(--b-101010);
  }
 }
 &__slide-container {
  height: 100%;
  display: grid;
  grid-template-columns: 305px 1fr minmax(350px, 428px) 220px;
  grid-template-rows: 1fr 330px;
 }
 &__cell {
  display: flex;
  align-items: flex-end;
  &.m-title {
   justify-content: center;
  }
  &.m-panel {
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   display: flex;
   flex-direction: column;
   padding-top: 180px;
  }
  &.m-bottom {
   padding-bottom: 120px;
  }
  &.m-btn {
   justify-content: center;
  }
  &.m-info {
   position: relative;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-end;
   padding-left: 100px;
   &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200vw;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
   }
  }
  &.m-col-2 {
   border-left: 1px solid rgba(255, 255, 255, 0.2);
   border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  &.m-col-3 {
   border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
 }
 &__title {
  padding-bottom: 100px;
 }
 &__subtitle {
  font-size: var(--sz-24);
  text-transform: none;
  margin-bottom: 10px;
 }
 &__text {
  font-size: var(--sz-14);
 }
 &__slider-nav {
  max-height: 430px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 100px;
 }
 &__slider-nav-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  opacity: 0.5;
  &.j-active {
   opacity: 1;
  }
 }
 &__slider-nav-btn-num {
  color: var(--t-22B24C);
  font-weight: 700;
  margin-bottom: 15px;
 }
 &__slider-nav-btn-text {
  font-size: var(--sz-20);
  font-weight: 600;
 }
 &__btn {
 }
}
//@mark about
.about {
 background: url('/src/img/about-bg.png') center / cover no-repeat;
 &__container {
  height: 100%;
  display: grid;
  grid-template-columns: 305px 1fr 220px;
  grid-template-rows: 1fr 230px;
 }
 &__cell {
  &.m-left {
   grid-column: 1/2;
   grid-row: 1/3;
   border-right: 1px solid rgba(0, 0, 0, 0.25);
  }
  &.m-main {
   grid-column: 2/3;
   grid-row: 1/2;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-end;
   padding: 0 80px 110px 80px;
  }
  &.m-right {
   grid-column: 3/4;
   grid-row: 1/3;
   border-left: 1px solid rgba(0, 0, 0, 0.25);
  }
  &.m-list {
  }
 }
 &__title {
  font-size: var(--sz-32);
  font-weight: 700;
  margin-bottom: 25px;
  & span {
   color: var(--t-22B24C);
  }
 }
 &__text {
  margin-bottom: 25px;
 }
 &__btn {
 }
 &__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 30px 0;
  align-items: center;
 }
 &__item {
  display: flex;
  gap: 21px;
 }
 &__item-num {
  font-size: var(--sz-24);
  font-weight: 700;
  color: var(--t-22B24C);
 }
 &__item-text {
  font-size: var(--sz-20);
  font-weight: 600;
 }
}
//@mark benefits
.benefits {
 height: 100%;
 overflow-y: auto;
 &__container {
  height: 100%;
  display: grid;
  grid-template-columns: 305px 1fr 220px;
 }
 &__cell {
  &.m-main {
   border-left: 1px solid rgba(0, 0, 0, 0.25);
   border-right: 1px solid rgba(0, 0, 0, 0.25);
   padding: 200px 100px 100px;
   &::after {
    height: 100%;
   }
   &::before {
    height: 100%;
   }
  }
 }
 &__title {
  font-size: var(--sz-40);
  font-weight: 500;
  margin-bottom: 50px;
  & span {
   color: var(--t-22B24C);
  }
 }
 &__box {
  display: flex;
  flex-direction: column;
  gap: 25px;
 }
 &__card {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 25px;
  border-radius: 35px;
  overflow: hidden;
  &:hover {
   & .benefits__card-bg {
    opacity: 1;
    visibility: visible;
   }
  }
 }
 &__card-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150%;
  aspect-ratio: 1;
  border-radius: 50%;
  display: none;
  transform: translate(-50%, -50%);
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s linear 0s, visibility 0.1s linear 0s;
  &::after {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   aspect-ratio: 1;
   content: '';
   border-radius: 50%;
   transform: translateY(-50%);
   background: linear-gradient(
    90deg,
    rgba(34, 178, 76, 1) 0%,
    rgba(255, 255, 255, 1) 70%
   );
   animation: bg-rotate 3s linear 0s infinite;
  }
 }
 &__card-inner {
  position: relative;
  display: flex;
  gap: 45px;
  background-color: var(--b-fff);
  border-radius: 35px;
  z-index: 10;
  overflow: hidden;
  &.m-reverse {
   flex-direction: row-reverse;
  }
 }
 &__card-visual {
  flex: 1 0 525px;
 }
 &__card-visual-img {
  border-radius: 35px;
 }
 &__card-info {
  padding: 35px 5px;
 }
 &__card-title {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 15px;
  font-size: var(--sz-24);
  & b {
   font-size: var(--sz-16);
   font-weight: 600;
   color: var(--t-22B24C);
  }
  & span span {
   color: var(--t-22B24C);
  }
 }
 &__card-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
 }
 &__card-text-piece {
  font-size: var(--sz-14);
  & strong {
   font-weight: 500;
  }
 }
}
